body {
  background: url('header_bg.jpeg');
}

.intro, .main, .sidebar, header {
  border-radius: 4px;
}

.main {
  float: right;
  width: 70%;
  background: #DAF7A6;
  padding: 8px 16px;
}

.sidebar {
  float: left;
  width: 24%;
  background-color: #85C1E9;
  padding: 8px 16px;
}

header h1 {
  font-size: 32px;
  margin-left: 64px;
  color: greenyellow;
}

header h2 {
  margin-left: 64px;
  color: pink;
}

.summary, .preamble {
  opacity: 0.7;
  margin: 16px 64px;
  border-radius: 4px;
  padding: 8px;
}

.summary {
  background: white;
  transition: width 2s;
}

.summary:hover {
  width: 80%;
}

.preamble {
  background: violet;
  transition: width 2s;
}

.preamble:hover {
  width: 70%;
}

nav a.designer-name {
  font-style: italic;
  color: palevioletred;
}

p::first-letter {
  font-size: 2em;
  color: red;
}